body {
  overflow-x: hidden;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item-active {
  border-left: #444 3px solid;
}

.carousel-item img {
  max-height: 550px;
}

.carousel-item-caption {
  transform: translate(-50%, 50%);
}

.carousel-image-1 {
  background: url("../images/image1.jpg");
  background-size: cover;
}

.carousel-image-2 {
  background: url("../images/image2.jpg");
  background-size: cover;
}

.carousel-image-3 {
  background: url("../images/image3.jpg");
  background-size: cover;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: "../images/image4.jpg";
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  background: rgba(0, 0, 0, 0.7);
}

#page-header {
  background: url("../images/image8.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 0 -500px; */
  background-attachment: fixed;
  color: #ffff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
  margin-bottom: 30px;
}

.about-image {
  margin-top: -30px;
}

.card-deck .zoom {
  transition: transform 1s;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  cursor: pointer;
}

.card-deck {
  margin: 0 auto;
}

#video-play {
  min-height: 200px;
  background: url("../images/image8.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0px;
  text-align: center;
  background-size: cover;
}

#video-play a {
  color: #fff;
}

.map iframe {
  width: 100%;
  height: 590px;
}

*, ::after, ::before {
  box-sizing: border-box;
}

iframe {
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.img-fluid .zoom {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.zoom:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}

.carousel-image-34 {
  background: url("../images/image34.jpg");
  background-size: cover;
}

.carousel-image-35 {
  background: url("../images/image35.jpg");
  background-size: cover;
}

.carousel-image-36 {
  background: url("../images/image36.jpg");
  background-size: cover;
}

.modal .carousel-item {
  height: auto;
}

.modal .carousel-item img {
  height: 450px;
  width: 500px;
}

.modal img {
  height: 400px;
  width: 500px;
}

#videoModal .container {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}

.modal iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

footer {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
